name: Manual Test Deployment

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: trimeche
          # We still need this one secret provided by GitHub
          password: ${{ secrets.MY_GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ./src
          file: ./src/Dockerfile
          push: true
          # Hardcoded image name for testing
          tags: ghcr.io/trimeche/nestjs-api:latest
          
  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: SSH and Deploy via Password
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          # REMOVE 'key' and USE 'password' instead
          password: ${{ secrets.SERVER_PASSWORD }} 
          script: |
            cd /home/hamida/test_nest/src
            # Optional: Login to GHCR on the server if the image is private
            echo "${{ secrets.MY_GITHUB_TOKEN }}" | docker login ghcr.io -u trimeche --password-stdin
            docker compose pull
            docker compose up -d
            docker image prune -f
