name: Manual Test Deployment

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: trimeche
          # We still need this one secret provided by GitHub
          password: ${{ secrets.MY_GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ./src
          file: ./src/Dockerfile
          push: true
          # Hardcoded image name for testing
          tags: ghcr.io/trimeche/nestjs-api:latest
          
  deploy:
    needs: build-and-push
    runs-on: self-hosted 
    steps:
      - name: Local Deploy
        run: |
          cd /home/hamida/test_nest/src
          # Since the runner is inside your VM, it can run commands directly
          echo "${{ secrets.MY_GITHUB_TOKEN }}" | docker login ghcr.io -u trimeche --password-stdin
          docker pull ghcr.io/trimeche/nestjs-api:latest
          /usr/bin/docker-compose up -d
          docker image prune -f
